@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Quicksand-Light.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Quicksand-SemiBold.ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Quicksand-Bold.ttf');
}
